/* ProviderCard.css */

.providerList {
  padding-bottom: 5px;
}

.provider-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.provider-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.provider-name {
  color: #1e90ff;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.provider-detail {
  color: #333;
  margin-bottom: 8px;
}

.red {
  color: red;
}

.green {
  color: green;
}
